@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 1em ;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: Roboto, Helvetica, sans-serif;
    color: #243579;
}

div{
    padding-top: 20px;
}

.navbar{
    font-weight: 400;
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 160px;
    cursor: pointer;
 
}

nav{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-left: 60 px;
}

nav a:hover {
   
	background-color: #16a6e1;
    transition: all .5s ease;
    width: 500px;
	color: white;

    padding: .8em .8em;
    box-sizing: border-box;
    box-shadow: .07em .1em .1em rgb(200,200,200);
}

nav ul li{
    
    display: inline-block;
    list-style: none;
    
}

nav ul li a{
    color: #243579;
    text-decoration: none;
}

main {
	align-items: center;
	justify-content: center;
	font-size: .9rem;
}

#persona {
    width: 150px;
    display: flex;
    
}

#colors{
    max-width: 400px;
}



p {
    max-width: 95%;
}

.title h2{
    font-weight: 800;
    font-size: 60px;
}

.title p{
    font-weight: 100;
    font-size: 20px;
}



#typography #roboto_reg{
    font-weight: 400;

}

#typography #roboto_bld{
    font-weight: 900;

}


.footer, header{

    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #243579;

    display: flex;
	flex-flow: column;
	align-items: left;
	justify-content: center;

}






@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main picture {
		display: block;
	}
}

@media (min-width: 48em) {
	nav a {
		font-size: 1rem;
	}
}
