@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 1em ;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: Roboto, Helvetica, sans-serif;
    color: #243579;
}

.navbar{
    font-weight: 400;
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 160px;
    cursor: pointer;
 
}

nav{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-left: 60 px;
}


nav ul li{
    
    display: inline-block;
    list-style: none;
    
}

nav ul li a{
    color: #243579;
    text-decoration: none;
}

main {
	align-items: center;
	justify-content: center;
	font-size: .9rem;
}

.personas #persona {
    width: 150px;
    display: flex;
    
}

.colors #colors{
    max-width: 300px;
}



p {
    max-width: 95%;
    padding: 2em;
}

.title h2{
    font-weight: 800;
    font-size: 60px;
}

.title p{
    font-weight: 100;
    font-size: 20px;
}



.content .btn{

    align-items: center;
    display: block;
    max-width: 200px;


    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: linear-gradient(90deg, #6fabd8, #60788d);
    border-radius: 6px;
    padding: 10px 20px;
    margin: 20px 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    box-shadow: 2px 6px 10px rgb(200,200,200);

}

img{
    display: flex;
    flex: 1, 1;

}


p #roboto_reg{
    font-weight: 400;

}

p #roboto_bld{
    font-weight: 900;

}


.footer, header{

    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #243579;

    display: flex;
	flex-flow: column;
	align-items: left;
	justify-content: center;

}






@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main picture {
		display: block;
	}
}

@media (min-width: 48em) {
	nav a {
		font-size: 1.3rem;
	}
}
