label, input{
    display:block;
    font-size: 1.5em;
}

label {
    margin-top: 20px;
}

input {
    height: 44px;
}

input[type='radio']{

    height: 20px;
}
form input:required {
    border-left: red solid 6 px;
}

form input:required:valid {
    border-left: green solid 6 px;
}

#radio{
    display: grid;
    grid-template-columns: 60px 100px;
   
}

#radio label, #radio input{
    margin: 0;
}

textarea{
    height: 150px;
}

input, textarea{
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;

}

#join_content{
    display:flex;
    width: 90%;
    margin: auto;
}

input[type='submit']{
    cursor: pointer;
    background: #e80a7b;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    color: white;
    box-shadow: 2px 6px 10px rgb(200,200,200);
}


 /* medium view */
@media (min-width: 750px) {

    #memberinfo{
        flex-direction: column; 
    }

    #memberinfo, .info, li{
        flex-direction: column;
    }
}

/* large view */

@media (min-width: 1000px) {
    #memberinfo{
        margin-left: 100px;
       
    }
}
    